@charset "UTF-8";
@font-face {
  font-family: "master-v10";
  src: url("fonts/master-v10.eot");
  src: url("fonts/master-v10.eot?#iefix") format("embedded-opentype"), url("fonts/master-v10.woff") format("woff"), url("fonts/master-v10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  speak: none;
  line-height: normal;
  font-size: 18px;
}
.icon:before {
  font-family: 'master-v10';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: normal;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
