/* ========================================================================
	Simple Variables
========================================================================== */
/* ========================================================================
	Base Pagination Styles
========================================================================== */
#pagination {
  background: #f4726d;
}
#pagination h1 {
  color: #fff;
}
.cycle-pager-container ul {
  display: block;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 150;
}
.cycle-pager-container ul li {
  list-style-type: none;
  margin: 0;
  width: auto;
  display: inline-block;
  padding: 0 5px;
  text-align: left;
}
.cycle-pager-container ul li a {
  display: block;
  overflow: hidden;
  border: solid 1px #ffffff;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  background: #ffffff;
  height: 10px;
  width: 10px;
}
.cycle-pager-container ul li span {
  display: none;
}
.cycle-pager-container ul .cycle-pager-active a {
  background: #000000;
}
.cycle-pager-container ul a:hover {
  background: #000000;
}
/* ========================================================================
	Pagination Variants
========================================================================== */
.cycle-pager-container.fill-up li {
  padding: 0 15px;
  height: 16px;
  width: 16px;
}
.cycle-pager-container.fill-up li a {
  box-shadow: inset 0 0 0 2px #ffffff;
  border-radius: 50%;
  border: none;
  overflow: hidden;
  background: transparent;
  position: relative;
  width: 100%;
  height: 100%;
  transition: all .3s;
}
.cycle-pager-container.fill-up li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-radius: 50%;
  background: #ffffff;
  transition: all .3s;
}
.cycle-pager-container.fill-up li a:hover {
  background: rgba(0, 0, 0, 0.2);
}
.cycle-pager-container.fill-up .cycle-pager-active a,
.cycle-pager-container.fill-up .cycle-pager-active:hover a {
  background: transparent;
}
.cycle-pager-container.fill-up .cycle-pager-active a:after,
.cycle-pager-container.fill-up .cycle-pager-active:hover a:after {
  height: 100%;
}
.cycle-pager-container.scale-up ul {
  display: block;
  position: relative;
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 150;
}
.cycle-pager-container.scale-up ul li {
  list-style-type: none;
  margin: 0;
  width: auto;
  display: inline-block;
  padding: 0 15px;
  text-align: left;
}
.cycle-pager-container.scale-up ul li a {
  display: block;
  overflow: hidden;
  border: none;
  box-shadow: none;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
  height: 16px;
  width: 16px;
  transition: all .3s;
}
.cycle-pager-container.scale-up ul .cycle-pager-active a {
  background: #ffffff;
  transform: scale(1.5);
}
.cycle-pager-container.scale-up ul a:hover {
  background: #ffffff;
}
