/* ========================================================================
	Simple Variables
========================================================================== */

@button__padding                			: 0 15px;
@button__line-height            			: 40px;
@button__color                  			: #555;
@button__color_hover            			: #fff;
@button__background-color       			: #ccc;
@button__background-color_hover				: #ba0c2f;

/* ========================================================================
	Base Button Styles
========================================================================== */

#buttons {

	.btn {
		width: 175px;
	}
}

.button {
	width: auto;
	vertical-align: top;
	display: inline-block;
	
	.btn {
		line-height: normal;
		cursor: pointer;
		display: inline-block;
		vertical-align: middle;
		outline: none;
		border: none;
		font-style: normal;
		text-align: center;
		text-decoration: none;
		box-sizing: border-box;
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		line-height: @button__line-height;
		background-color: @button__background-color;
		color: @button__color;
		padding: @button__padding;
		font-size: 13px;
		transition: all 0.25s;

		a {
			color: inherit;
		}

		.icon:before {
			content: @icon__star;
		}

		span {
			line-height: normal;
			padding: 3px 0;
			vertical-align: baseline;
			display: inline-block;
		}

		&:hover {
			color: #fff;
			background: @button__background-color_hover;
		}
	}
}

/* ========================================================================
	Button Variants
========================================================================== */

// Horizontal Slide
// ===========

.button.slide-hor {
	
	.btn {
		position: relative; 
		background-image: linear-gradient(to right, @button__background-color 50%, @button__background-color_hover 50%);
		background-position: 0;
		background-size: 200%;
		transition: all 0.25s;

		&:hover {
            background: linear-gradient(to right, @button__background-color 50%, @button__background-color_hover 50%);
            background-position: -100%;
            background-size: 200%;
		}
	}
}

// Vertical Slide
// ===========

.button.slide-vert {

	.btn {
		position: relative;

		span {
			position: relative;
			z-index: 2;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			right: 0;
			left: 0;
			height: 0;
			transition: all 0.25s;
			background: @button__background-color_hover;
		}

		&:hover {
			background: @button__background-color;   

			&:after {
				height: 100%;
			}  
		}
	}
}

// Horizontal Centre Fill
// ===========

.button.centre-fill-hor {

	.btn {
		position: relative;

		span {
			position: relative;
			z-index: 2;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			right: 50%;
			bottom: 0;
			left: 50%;
			width: 0;
			transition: all 0.25s;
			background: @button__background-color_hover;
		}

		&:hover {
			background: @button__background-color;   

			&:after {
				right: 0;
				left: 0;
				width: 100%;
			}  
		}
	}
}

// Vertical Centre Fill
// ===========

.button.centre-fill-vert {

	.btn {
		position: relative;

		span {
			position: relative;
			z-index: 2;
		}

		&:after {
			content: '';
			position: absolute;
			z-index: 1;
			top: 50%;
			right: 0;
			left: 0;
			height: 0;
			transition: all 0.25s;
			background: @button__background-color_hover;
		}

		&:hover {
			background: @button__background-color;   

			&:after {
				top: 0;
				bottom: 0;
				height: 100%;
			}  
		}
	}
}

// Horizontal Icon Slide
// ===========

.button.icon-slide-hor {

	.btn {
		position: relative;
		overflow: hidden;

		.icon {
			position: absolute;
			top: 50%;
			right: 101%;
			transform: translateY(-50%);
			transition: all 0.25s;
			font-size: 20px;
			color: @button__color_hover;

			&:before {
				content: @icon__star;
				line-height: @button__line-height;
			}
		}

		span {
			transition: all 0.25s;
		}

		&:hover {
			color: @button__color;

			.icon {
				right: 50%;
				transform: translate(50%, -50%);
			}

			span {
				transform: translateX(150%);
			}
		}
	}
}

// Vertical Icon Slide
// ===========

.button.icon-slide-vert {

	.btn {
		position: relative;
		overflow: hidden;

		.icon {
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			transition: all 0.25s;
			font-size: 20px;
			color: @button__color_hover;

			&:before {
				content: @icon__star;
				line-height: @button__line-height;
			}
		}

		span {
			transition: all 0.25s;
		}

		&:hover {
			color: @button__color;

			.icon {
				bottom: 50%;
				transform: translate(-50%, 50%);
			}

			span {
				transform: translateY(150%);
			}
		}
	}
}

// Arrow Slide
// ===========

.button.arrow-slide {

	.btn {
		position: relative;
		overflow: hidden;
		padding: 0 30px;

		.icon {
			position: absolute;
			top: 50%;
			right: -20px;
			transform: translateY(-50%);
			transition: all 0.25s;
			color: @button__color_hover;

			&:before {
				content: @icon__chevron-right;
				line-height: @button__line-height;
			}
		}

		&:hover {
			
			.icon {
				right: 10px;
			}
		}
	}
}

// Arrow Fade
// ===========

.button.arrow-fade {

	.btn {
		position: relative;
		overflow: hidden;
		padding: 0 30px;

		.icon {
			position: absolute;
			top: 50%;
			right: 30px;
			opacity: 0;
			transform: translateY(-50%);
			transition: all 0.25s;
			color: @button__color_hover;
			
			&:before {
				content: @icon__chevron-right;
				line-height: @button__line-height;
			}
		}

		&:hover {
			
			.icon {
				opacity: 1;
				right: 10px;
			}
		}
	}
}

// Slide-right-in
// ===========
// Button relies on moving padding from btn to span

.button.slide-right-in {
	overflow: hidden;

	.btn {
		position: relative;
		padding: 0;

		.icon {
			display: none;
		}

		span {
			position: relative;
			box-sizing: border-box;
			vertical-align: top;
			width: 100%;
			z-index: 2;
			transition: all 0.25s;
			padding: @button__padding;
			line-height: @button__line-height;
			background: @button__background-color;
		}

		&:after {
			content: attr(title);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			transform: translateX(-25%);
			transition: all 0.25s;
			color: @button__color_hover;
			background: @button__background-color_hover;
		}

		&:hover {
			color: @button__color;
			background: @button__background-color;

			span {
				transform: translateX(100%);
			}

			&:after {
				transform: translateX(0%);
			}
		}
	}
}

// Slide-down-in
// ===========
// Button relies on moving padding from btn to span

.button.slide-down-in {
	overflow: hidden;

	.btn {
		position: relative;
		padding: 0;

		.icon {
			display: none;
		}

		span {
			position: relative;
			box-sizing: border-box;
			vertical-align: top;
			width: 100%;
			z-index: 2;
			transition: all 0.25s;
			padding: @button__padding;
			line-height: @button__line-height;
			background: @button__background-color;
		}

		&:after {
			content: attr(title);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			transform: translateY(-50%);
			transition: all 0.25s;
			color: @button__color_hover;
			background: @button__background-color_hover;
		}

		&:hover {
			color: @button__color;
			background: @button__background-color;

			span {
				transform: translateY(100%);
			}

			&:after {
				transform: translateY(0%);
			}
		}
	}
}

// Underline Left
// ===========

.button.border-bottom-left {

	.btn {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: auto;
			right: 0;
			height: 4px;
			width: 0;
			transition: all 0.25s;
			background: @button__background-color_hover;
		}

		&:hover {
			color: @button__color;
			background: @button__background-color;

			&:after {
				left: 0;
				width: 100%;
			}
		}
	}
}

// Underline Centre
// ===========

.button.border-bottom-center {

	.btn {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 50%;
			left: 50%;
			height: 4px;
			transition: all 0.25s;
			background: @button__background-color_hover;
		}

		&:hover {
			color: @button__color;
			background: @button__background-color;

			&:after {
				right: 0;
				left: 0;
			}
		}
	}
}

// Rising Underline
// ===========

.button.border-bottom-rise {

	.btn {
		position: relative;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			right: 0;
			left: 0;
			height: 0;
			transition: all 0.25s;
			background: @button__background-color_hover;
		}

		&:hover {
			color: @button__color;
			background: @button__background-color;

			&:after {
				height: 4px;
			}
		}
	}
}

// Hover Shadow
// ===========

.button.hover-shadow {

	.btn {
		position: relative;
		transform: translateZ(0);
		transition: all 0.25s;

		&:after {
			content: '';
			position: absolute;
			z-index: 0;
			top: 100%;
			right: 5%;
			left: 5%;
			height: 10px;
			opacity: 0;
			background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
			transition: all 0.25s;
		}

		&:hover {
			transform: translateY(-5px);

			&:after {
				opacity: 1;
				transform: translateY(5px);              
			}
		}
	}
}

// 3D Rotate
// ===========

.button.roll-box {
	position: relative;
	perspective: 1000px;

	.btn {
		position: relative;
		transform-origin: 50% 0;
		transform-style: preserve-3d;
		transition: all 0.25s;

		&:after {
			content: attr(title);
			position: absolute;
			z-index: -1;
			top: 100%;
			left: 0;
			width: 100%;
			line-height: @button__line-height;
			transform-origin: 50% 0;
			transform: rotateX(-90deg);
			transition: all 0.25s;
			color: @button__color_hover;
			background: darken(@button__background-color_hover, 10%);
		}

		&:hover {
			transform: rotateX(90deg) translateY(-50%);
			color: @button__color;
			background: @button__background-color;

			&:after {
				background: @button__background-color_hover;
			}
		}
	}
}

// Border Slide
// ===========

.button.border-slide {

	.btn {
		position: relative;

		span {

			&:before,
			&:after  {
				content: "";
				width: 40px;
				height: 3px;
				position: absolute;
				transition: 0.2s;
				background: @button__background-color_hover;
				transform: rotate(90deg);
			}

			&:before {
				transform-origin: 0 0;
				top: 0;
				left: 0;
			}

			&:after {
				transform-origin: bottom right;
				right: 0;
				bottom: 0;
			}
		}

		&:hover {
			background: @button__background-color;
			color: @button__color;

			span {

				&:before {
					transform: rotate(0) translateX(-50%);
					left: 50%;
				}

				&:after {
					transform: rotate(0) translateX(50%);
					right: 50%;
				}
			}
		}
	}
}

// Word spreads
// ===========

.button.letter-spacing {

	.btn {
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0;
		transition: all .35s ease-in-out;

		&:before,
		&:after {
			content: '';
			position: absolute;
			transition: all .35s ease-in-out;
			height: 2px;
			top: 0;
			right: 50%;
			left: 50%;
			background: @button__background-color_hover;
		}

		&:after {
			top: auto;
			bottom: 0;
		}

		&:hover {
			letter-spacing: 2px;
			color: @button__color;
			background: @button__background-color;

			&:before,
			&:after {
				right: 15%;
				left: 15%;
			}
		}
	}
}