@vars__base--font-family                    : 'Montserrat', sans-serif;
@containers-color                           : #d4f5fa;
@containers-color-alt                       : #fafafa;
@vars__brand-primary-color                  : @button__background-color_hover;
@html__base--font-size                      : 16px;

html, body {
    margin: 0;
    height: 100%;
    background: #fafafa;
    -webkit-font-smoothing: antialiased;
    font-family: @vars__base--font-family;
}

html:after {
    content: 'Resize your window to make use of this site';
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
}

body {
    display: none;
}

h1 {
    text-transform: uppercase;
    margin: 0 0 10px;
    line-height: 34px;  
    font-size: 32px;
}

a {
    text-decoration: none;
    color: #000;
    background: transparent;

    &:focus,
    &:hover,
    &:active,
    &:visited {
        outline: 0;
        color: #000;
    }
}

a.html-copy,
a.pag-toggle {
    display: inline-block;
    line-height: normal;
    margin: 1px 5px;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.25s;
    font-size: 12px;
}

a.html-copy {
    color: #fff;
    background: #2C9AA0;
    
    &:hover {
        color: #fff;
        background: darken(#2C9AA0, 10%);
    }
}

a.pag-toggle {
    color: #000;
    background: #fff;

    &:hover {
        color: #fff;
        background: #000;
    }
}

div.sub-text {
    line-height: 27px;
    margin: 0;
    font-size: 12px;

    span {
        display: inline-block;
        line-height: normal;
        margin: 1px 0;
        padding: 5px 10px;
        border-radius: 5px;
        background: @button__background-color;
    } 
}

.thumb,
.image {

  img {
    display: block;
  }
}

img {
  max-width: 100%;
}

.row {
    padding: 20px 0;
    margin: 0 auto;
    width: 724px;

    + .row {
        padding: 20px 0 100px;
    }

    > div {
        position: relative;

        .id {
            position: absolute;
            z-index: 10;
            top: 10px;
            left: 15px;
            padding: 0 5px;
            line-height: 20px;
            font-size: 14px;
            color: #fff;
            background: rgba(0,0,0,.6);
        }
    }
}


pre {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
}

[class^="span"] {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 30px 0;
    width: 33.33%;
}

.container {
    position: relative;
    padding: 40px 0 0;
    font-size: 0;
    .responsive-shape(@containers-color, 70px, bottom, 0);

    &:nth-of-type(even) {
        background: @containers-color;
        .responsive-shape(@containers-color-alt, 70px, bottom, 0);
    }
}

.span,
.span4 {
    width: 50%;
}

@media screen and (min-width: 768px) {

    html:after {
        content: none;
    }

    body {
        display: block;
    }
}

@media screen and (min-width: 980px) {

    [class^="span"] {
        width: 25%;
    }

    .row {
        width: 940px;
    }

    .span4 {
        width: 50%;
    }
}


@media screen and (min-width: 1200px) {

    [class^="span"] {
        width: 20%;
    }

    .row {
        width: 1170px;
    }

    .span4 {
        width: 33.33%;
    }
}

.overlay {
    display: none;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(24, 160, 136, 0.9);

    &:before {
        content: 'Code copied!';
        position: absolute;
        text-transform: uppercase;
        font-weight: bold;
        cursor: default;
        transform: translate(-50%, -50%);
        padding: 20px 40px;
        top: 50%;
        left: 50%;
        font-size: 40px;
        border-radius: 10px;
        color: #fff;
        background: rgba(0,0,0,0.65);
    }
}