/* ========================================================================
	Base Franchise Badge Styles
========================================================================== */

#franchises {

	.jump {

		.title {
			display: none;
		}

		.content {
			display: block;
			background-position: 0 0;
			background-image: url(img/franchise-badge.png);
			background-size: 100%;
			height: 0;
			padding-bottom: 100%;
			transition: all 0.4s;
		}
	}
}

/* ========================================================================
	Franchise Badge Variants
========================================================================== */

// Text fades out, image fades in
// ===========
@franchise-badge--background 					: #fff;
@franchise-badge-title--color 					: #404040;
@franchise-badge-title--font-size 				: 11px;
@franchise-badge-title--font-weight 			: bold;
@franchise-badge-title--font-family 			: @vars__base--font-family;

#franchises {

	.jump.fade {

		.inner {
			position: relative;
			background: @franchise-badge--background;
		}
		
		.title {
			display: block;
			position: absolute;
			z-index: 1;
			top: 50%;
			left: 50%;
			text-align: center;
			transform: translate(-50%, -50%);
			color: @franchise-badge-title--color;
			font-weight: @franchise-badge-title--font-weight;
			font-family: @franchise-badge-title--font-family;
			font-size: @franchise-badge-title--font-size;
			transition: all .3s;
		}

		.content {
			position: relative;
			z-index: 2;
			opacity: 0;
			transition: all .3s;
		}

		&:hover {

			.title {
				opacity: 0;
			}
			
			.content {
				opacity: 1;
			}
		}
	}
}

// Image fades, text appears
// ===========
@franchise-badge2--background 					: #fff;
@franchise-badge2--background_hover 			: #000;
@franchise-badge2-title--color 					: #fff;
@franchise-badge2-title--font-size 				: 14px;
@franchise-badge2-title--font-weight 			: bold;
@franchise-badge2-title--font-family 			: @vars__base--font-family;

#franchises {

	.jump.opacity-image {

		.inner {
			background: @franchise-badge2--background_hover;
		}

		.title {
			display: block;
			position: absolute;
			z-index: 2;
			top: 50%;
			width: 100%;
			text-align: center;
			transform: translateY(-50%);
			color: @franchise-badge2-title--color;
			font-weight: @franchise-badge2-title--font-weight;
			font-family: @franchise-badge2-title--font-family;
			font-size: @franchise-badge2-title--font-size;
			opacity: 0;
			transition: all .45s;		
		}

		.content {
			background-color: @franchise-badge2--background;
			transition: all .45s;
		}

		&:hover {

			.title {
				opacity: 1;
			}

			.content {
				opacity: .5;
			}
		}
	}
}

// Text comes over image on hover
// ===========
@franchise-badge3--background 					: #fff;
@franchise-badge3-title--color 					: #000;
@franchise-badge3-title--font-size 				: 14px;
@franchise-badge3-title--font-weight 			: bold;
@franchise-badge3-title--font-family 			: @vars__base--font-family;

#franchises {

	.jump.slide-in{
		overflow: hidden;

		.inner {
			position: relative;
			background: @franchise-badge3--background;
		}

		.title {
			display: block;
			position: absolute;
			z-index: 2;
			top: -100%;
			right: 0;
			bottom: 100%;
			left: 0;
			width: 100%;
			text-align: center;
			color: @franchise-badge3-title--color;
			font-weight: @franchise-badge3-title--font-weight;
			font-family: @franchise-badge3-title--font-family;
			font-size: @franchise-badge3-title--font-size;
			background: @franchise-badge3--background;
			transition: all .4s;		

			span {
				position: absolute;
				transform: translate(-50%, -50%);
				top: 50%;
				left: 50%;
				z-index: 2;
			}
		}

		&:hover {

			.title {
				top: 0;
				bottom: 0;
			}
		}
	}
}


// Image comes down over hover
// ===========
@franchise-badge4--background 					: #fff;
@franchise-badge4-title--color 					: #000;
@franchise-badge4-title--font-size 				: 14px;
@franchise-badge4-title--font-weight 			: bold;
@franchise-badge4-title--font-family 			: @vars__base--font-family;
@franchise-badge4-title--line-height 			: 231px;
@franchise-badge4-content-background_hover		: #fff;

#franchises {

	.jump.image-slide-in{
		overflow: hidden;

		.inner {
			position: relative;
			background: @franchise-badge4--background;
		}

		.title {
			display: block;
			z-index: 1;
			text-align: center;
			color: @franchise-badge4-title--color;
			font-weight: @franchise-badge4-title--font-weight;
			font-family: @franchise-badge4-title--font-family;
			font-size: @franchise-badge4-title--font-size;
			line-height: @franchise-badge4-title--line-height;
		}

		.content {
			position: absolute;
			top: -100%;
			right: 0;
			left: 0;
			transition: all .4s;
			background-color: @franchise-badge4-content-background_hover;

		}

		&:hover {

			.content {
				top: 0;
			}
		}
	}
}


// Title slides up on hover
// ===========
@franchise-badge5--background 					: #fff;
@franchise-badge5-title--color 					: #fff;
@franchise-badge5-title--font-size 				: 14px;
@franchise-badge5-title--font-weight 			: bold;
@franchise-badge5-title--font-family 			: @vars__base--font-family;
@franchise-badge5-title--line-height 			: 40px;
@franchise-badge5-title--background 			: #000;

#franchises {

	.jump.title-slide-up {
		overflow: hidden;

		.inner {
			position: relative;
			background: @franchise-badge5--background;
			border: 1px solid #ccc;
		}

		.title {
			display: block;
			z-index: 1;
			text-align: center;
			position: absolute;
			right: 0;
			bottom: -100px;
			left: 0;
			color: @franchise-badge5-title--color;
			font-weight: @franchise-badge5-title--font-weight;
			font-family: @franchise-badge5-title--font-family;
			font-size: @franchise-badge5-title--font-size;
			line-height: @franchise-badge5-title--line-height;
			background: @franchise-badge5-title--background;
			transition: all 0.3s;
			border-top: 1px solid #ccc;
		}

		&:hover {

			.content {			
    			transform: translateY(-15px);
			}

			.title {
				bottom: 0;
			}
		}
	}
}

// Image scales down
// ===========
@franchise-badge6--background 					: #fff;

#franchises {

	.jump.image-scale {

		.inner {
			position: relative;
			background: @franchise-badge6--background;
			overflow: hidden;
		}

		.title {
			display: none;
		}

		.content {
			transition: all .3s;
		}

		&:hover {

			.content {			
    			transform: scale(1.1);
			}
		}
	}
}

// Image scales down
// ===========
@franchise-badge7--background 					: #fff;

#franchises {

	.jump.image-scale-down {

		.inner {
			position: relative;
			background: @franchise-badge7--background;
			overflow: hidden;
		}

		.title {
			display: none;
		}

		.content {
			transition: all 0.3s;
		}

		&:hover {

			.content {
				transform: scale(0.9);			
			}
		}
	}
}

// Image Blurs
// ===========
@franchise-badge8--background 					: #fff;
@franchise-badge8-title--color 					: #fff;
@franchise-badge8-title--font-size 				: 14px;

#franchises {

	.jump.blur {

		.inner {
			position: relative;
			overflow: hidden;
			background: @franchise-badge8--background;

			&:before {
				content: "";
				position: absolute;
				z-index: 2;
				top: -20px;
				left: -20px;
				bottom: -20px;
				right: -20px;
				background: fade(#000, 40%);
				opacity: 0;
				transition: all .3s;
			}
		}

		.content {
			z-index: 1;
			background-color: @franchise-badge8--background;
			transform: none;
			transition: all .3s;
		}

		.title {
			display: block;
			position: absolute;
			text-align: center;
			z-index: 3;
			top: 50%;
			right: 20px;
			left: 20px;
			transform: translateY(-50%);
			opacity: 0;
			transition: all .3s;
			color: @franchise-badge8-title--color;
			font-size: @franchise-badge8-title--font-size;
		}

		&:hover {

			.inner {

				&:before {
					opacity: 1;
				}
			}

			.content {
				filter: blur(5px);
			}

			.title {
				opacity: 1;
			}
		}
	}
}