/* ========================================================================
	Base Jump Styles
========================================================================== */

.jump {
	position: relative;
	box-sizing: border-box;
	text-align: left;
	padding: 0 5px;
	margin: 0 0 10px;

	figure {
		margin: 0;
	}

	.thumb img {
		display: block;
		max-width: 100%;
		border: 0;
	}

	.title {
		font-size: 20px;
	}

	.sub-title,
	.strapline,
	.content {
		font-size: 14px;
		color: #404040;
	}
}

/* ========================================================================
	Jump Variants
========================================================================== */

// Image slide & content fade-in
// ===========

.hook-responsive-sm() {
	.jump.image-slide {
		overflow: hidden;

		.inner {
			position: relative;
			top: -80px;
			transition: all .35s;
		}

		img {
			position: relative;
			z-index: 1;
			opacity: 1;
			transition: all .35s;
		}

		.title {
			position: absolute;
			text-transform: uppercase;
			z-index: 2;
			bottom: 80px;
			left: 25px;
			right: 25px;
			color: #fff;
			transition: all .35s;

			span > span {
				font-weight: bold;
			}
		}

		.content {
			position: absolute;
			z-index: 2;
			right: 25px;
			bottom: 30px;
			left: 25px;
			color: #fff;
			transition: all .35s;
		}

		.button {
			position: absolute;
			right: 0;
			bottom: -80px;
			left: 0;
			transition: all .35s;

			.btn {
				line-height: 80px;
				width: 100%;
			}
		}
	}
}

.hook-responsive-md() {

	.jump.image-slide {

		.inner {
			top: 0;
		}

		.title {
			bottom: 40px;
		}

		.content {
			opacity: 0;      
			bottom: -20px;     
		}

		.button {
			bottom: 0;
		}
		
		&:hover {

			.inner {
				top: -80px;
			}

			img {
				opacity: .8;
			}

			.title {
				bottom: 80px;
			}

			.content {
				opacity: 1;
				bottom: 30px;
			}

			.button {
				bottom: -80px;
			}
		}
	}
}

// Title & button central, expand to show content
// ===========

.jump.appear-middle {

	.inner {
		background: #000;
	}

	.text {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		width: 70%;
	}

	img {
		position: relative;
		opacity: 1;
		transition: all .25s linear;       
	}

	.title,
	.content,
	.button {
		display: block;
		text-align: center;
	}

	.title {
		position: relative;
		text-transform: uppercase;
		padding: 0 0 10px;
		color: #fff;
		font-size: 32px;

		&:after {
			content: '';
			position: absolute;
			transform: translateX(-50%);
			bottom: 5px;
			left: 50%;
			height: 1px;
			width: 0;
			background: #fff;
			transition: all .25s linear;       
		}
	}

	.content {
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		color: #fff;
		transition: all .25s linear;
	}

	.button {
		padding: 20px 0 0;
	}

	&:hover {

		img {
			opacity: .7;
		}

		.title:after {
			width: 100px;
		}

		.content {
			max-height: 80px;
			opacity: 1;
		}
	}
}

// Title, button appears behind it
// ===========

.jump.button-behind {

	.inner {
		background: #000;
	}

	img {
		position: relative;
		opacity: 1;
		transition: all .35s linear;       
	}

	.text {
		position: absolute;
		text-align: center;
		transform: translate(-50%, -50%);
		padding: 10px 20px;
		top: 50%;
		left: 50%;
		width: 70%;
		min-height: 0;
		border: 1px solid #fff;
		transition: all .35s;   
	}

	.title {
		text-transform: uppercase;
		font-size: 32px;
		letter-spacing: 2px;
		color: #fff;
	}

	.button {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		opacity: 0;
		transition: all .35s;   
	}

	&:hover {

		img {
			opacity: .7;
		}

		.text {
			top: 40%;
		}

		.button {
			top: 120%;
			opacity: 1;
			transform: translateX(-50%);
		}
	}
}

// Simple scale out
// ===========

.jump.scale-out {
	transition: all .25s;

	.inner {
		position: relative;
		padding: 5px;
		background: #fff;
		box-shadow: 0 0 7px 0 rgba(0,0,0,.4);
	}

	.title {
		position: absolute;
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		bottom: 0;
		right: 0;
		left: 0;
		line-height: 100px;
		background: rgba(255,255,255,.7);
	}

	.button {
		display: none;
	}

	&:hover {
		transform: scale(.9);
	}
}

// Horizonal card flip
// ===========

.jump.flip {
	z-index: 5;
	perspective: 1000px;

	img {
		transform: rotateY(0deg);
		transition: all .5s ease;
	}

	.title {
		position: absolute;
		transform: translate(-50%, -50%) rotateY(0deg);
		top: 50%;
		left: 50%;
		font-size: 32px;
		transition: all .5s ease;
	}

	.title,
	.content {
		text-transform: uppercase;
		font-weight: bold;
		text-align: center;
		letter-spacing: 2px;
		color: #fff;
	}

	.content {
		position: absolute;
		transform-style: preserve-3d;
		backface-visibility: hidden;
		transform: rotateY(-180deg);
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: @button__background-color_hover;
		transition: all .5s ease;

		span {
			backface-visibility: hidden;
			position: absolute;
			transform: translate(-50%, -50%);
			line-height: 30px;
			width: 90%;
			top: 50%;
			left: 50%;
		}

	}

	.button {
		display: none;
	}

	&:hover {

		img {
			transform: rotateY(180deg);
		}

		.title {
			transform: translate(-50%, -50%) rotateY(180deg);
		}

		.content {
			backface-visibility: visible; 
			transform: rotateY(0deg);
		}
	}

	// Vertical card flip
	// ===========

	&.flip-vert {

		.title {
			transform: translate(-50%, -50%) rotateX(0deg);
		}

		.content {
			transform: rotateX(-180deg);
		}

		&:hover {

			.title {
				transform: translate(-50%, -50%) rotateX(180deg);
			}

			img {
				transform: rotateX(180deg);
			}

			.content {
				transform: rotateX(0deg);
			}
		}
	}
}


// Border outline
// ===========

.jump.border-outline {

	.inner {
		position: relative;

		.text {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			width: 70%;
			text-align: center;
			z-index: 5;
		}

		.title,
		.content,
		.button {
			display: block;
		}

		.title,
		.content {
			padding-bottom: 10px;
			color: #fff;
		}

		> a {

			&:before,
			&:after {
				content: '';
				position: absolute;
				z-index: 1;
				opacity: 0;
				transition: all .35s;
				transform: scale(1);
			}

			&:before {
				top: 30px;
				right: 50%;
				bottom: 30px;
				left: 50%;
				border-top: 1px solid #fff;
				border-bottom: 1px solid #fff;
			}

			&:after {
				/* Default */
				top: 50%;
				right: 30px;
				bottom: 50%;
				left: 30px;
				border-right: 1px solid #fff;
				border-left: 1px solid #fff;
			}
		}
	}

	&:hover {

		.inner > a {

			&:before,
			&:after {
				opacity: 1;
				transform: scale(1);
				transition: all .35s;
			}

			&:before {
				right: 10px;
				left: 10px;
			}

			&:after {
				top: 10px;
				bottom: 10px;
			}
		}
	}
}

// Box grow and display hidden content
// ===========

.jump.box-grow {

	.inner {
		position: relative;

		.text {
			position: absolute;
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
			width: 70%;
			text-align: center;
			z-index: 5;
		}

		.title,
		.button {
			display: block;
			padding-bottom: 10px;
		}

		.title,
		.content {
			transition: all .25s linear;
			color: #fff;
		}

		.content { 
			display: block;
			transform: scale(0);
			overflow: hidden;
			max-height: 0;
			opacity: 0;
			color: #fff;
			transition: all .25s linear;
		}

		> a {

			&:before {
				/* Default */
				content: ' ';
				position: absolute;
				z-index: 1;
				/* Animations */
				opacity: 0;
				transition: all .35s;
				transform: scale(0);
				border: 1px solid #fff;
				top: 30px;
				right: 30px;
				bottom: 30px;
				left: 30px;
			}
		}
	}

	&:hover {

		.title {
			padding-bottom: 20px;
			transition: all .35s;
		}

		.content {
			padding-bottom: 20px;
			opacity: 1;
			max-height: 80px;
			transform: scale(1);
			transition: all .25s linear;
		}

		.inner > a {

			&:before {
				opacity: 1;
				transform: scale(1);
				transition: all .25s linear;
			}
		}
	}
}

// Border cross on hover
// ===========

.jump.border-cross {

	.inner {
		position: relative;
		overflow: hidden;

		.title ,
		.content,
		.button {
			position: absolute;
			left: 0;
			right: 0;
			text-align: center;
		}

		.title {
			top: 130px;
		}

		.content {
			bottom: 130px;
			right: 30px;
			left: 30px;
		}

		.button {
			z-index: 2;
			bottom: 50px;
		}

		 .title,
		.button,
		.content {
			display: block;
			transition: all .25s linear;
		}

		img {
			transform: scale(1.6);
			transition: opacity .35s, transform .35s;
		}

		.title,
		.content {
			color: #fff;
		}

		> a {

			&:before,
			&:after {
				transition: opacity .35s, transform .35s;
				position: absolute;
				top: 50%;
				left: 50%;
				width: 80%;
				height: 1px;
				background: #fff;
				content: '';
				transform: translate3d(-50%,-50%,0);
				z-index: 1;
			}
		}
	}

	&:hover {

		.title {
			top: 150px;
		}

		.content {
			bottom: 150px;
		}

		.button {
			bottom: 80px;
		}

		.inner {

			> a {

				&:before {
					opacity: .5;
					transform: translate3d(-50%,-50%,0) rotate(45deg);
				}

				&:after {
					opacity: .5;
					transform: translate3d(-50%,-50%,0) rotate(-45deg);
				}
			}

			img {
				opacity: .8;
				transform: scale(1);
			}
		}
	}
}

// Title and Sub-title slide in
// ===========

.jump.slide-text {
	font-size: 100px;

	.inner {
		position: relative;
		overflow: hidden;

		a:after {
			content: '';
			position: absolute;
			transition: all .5s ease-in-out;
			transition-delay: .25s;
			top: 0;
			right: 0;
			bottom: 100%;
			left: 0;
			background: fade(@vars__brand-primary-color, 50%);
		}
	}

	.text {
		position: absolute;
		text-align: center;
		transform: translateY(-50%);
		z-index: 1;
		top: 50%;
		right: 30px;
		left: 30px;
	}

	.title,
	.sub-title {
		display:  block;
		transition: all .5s ease-in-out;
		transition-delay: .5s;
		z-index: 1;
		color: #fff;
	}

	.title {
		transform: translateY(-300px); // Modify these values as necessary, to change the speed of your animation
	    font-size: 28em / 100;
	}

	.sub-title {
		transform: translateY(300px); // Modify these values as necessary, to change the speed of your animation
		font-size: 16em / 100;
	}

	.button {
		display: none;
	}

	&:hover {

		a:after {
			bottom: 0;
		}

		.title,
		.sub-title {
			transform: none;
		}
	}
}

// Sliding Gradient
// ===========

.jump.gradient-slide {
	font-size: 100px;

	.inner {
		position: relative;
		overflow: hidden;

		&:before {
			content: '';
			position: absolute;
			transition: all .4s ease-in-out;
			top: 100%;
			right: 0;
			left: 0;
			height: 100%;
			opacity: 0;
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,.7) 100%);
		}
	}

	.text {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 0 10px 10px;
	}

	.title,
	.strapline {
		display: block;
		transform: translateY(100px);
		transition: all .3s ease-in-out;
		color: #fff;
	}

	.title {
	    font-size: 28em / 100;
	}

	.strapline {
		transition-delay: .15s;
		font-size: 16em / 100;
	}

	.button {
		display: none;
	}

	&:hover {

		.inner:before {
			top: 50%;
			opacity: 1;
		}

		.title,
		.strapline {
			transform: none;
		}
	}
}

// Simple scale
// ===========

.jump.scale {

	.inner {
		overflow: hidden;
	}

	img {
		transform: scale(1.1); // Reverse transforms for upward scale on hover.
		transition: all .25s;
	}

	.button {
		display: none;
	}

	&:hover {

		img {
			transform: none;
		}
	}
}
