.nav {
	position: fixed;
	text-align: center;
	z-index: 2001;
	top: 0;
	right: 0;
	left: 0;
	background: #fff;
	border-bottom: 1px solid @button__background-color;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		width: 100%;
		font-size: 0;

		li {
			display: inline-block;
			box-sizing: border-box;
			text-align: center;
			padding: 0;
			width: 100% / 7;
			font-size: 14px;
			line-height: @button__line-height;
			transition: all 0.25s;

			&:hover {
				background: lighten(@button__background-color, 10%);
			}
		}

		a {
			display: block;
		}
	}
}