/* ========================================================================
	Simple Variables
========================================================================== */

// Core variables
@cycle__pager-item--padding           : 0 5px;
@cycle__pager-link--background        : #fff;
@cycle__pager-link--height            : 10px;
@cycle__pager-link--width             : 10px;
@cycle__pager-link--border-radius     : 50%;
@cycle__pager-link--box-shadow        : 0 0 7px 0 rgba(0, 0, 0, 0.3);
@cycle__pager-link--border            : solid 1px #fff;
@cycle__pager-link--background_hover  : #000;
@cycle__pager-link--background_active : #000;

/* ========================================================================
	Base Pagination Styles
========================================================================== */

#pagination {
	background: #f4726d;

	h1,
	.sub-text {
		color: #fff;
	}
}

.cycle-pager-container {

	ul {
		display: block;
		position: relative;
		text-align: center;
		margin: 0;
		padding: 0;
		z-index: 150;

		li {
			list-style-type: none;
			margin: 0;
			width: auto;
			display: inline-block;
			padding: @cycle__pager-item--padding;
			text-align: left;
			// .hook-cycle-pager-item;

			a {
				display: block;
				overflow: hidden;
				border: @cycle__pager-link--border;
				box-shadow: @cycle__pager-link--box-shadow;
				border-radius: @cycle__pager-link--border-radius;
				background: @cycle__pager-link--background;
				height: @cycle__pager-link--height;
				width: @cycle__pager-link--width;
				// .hook-cycle-pager-link;

			}

			span {
				display: none;
				// .hook-cycle-pager-span;

			}

		}

		.cycle-pager-active a {
			background: @cycle__pager-link--background_active;
			// .hook-cycle-pager-active;

		}

		a:hover {
			background: @cycle__pager-link--background_hover;
			// .hook-cycle-pager-hover;

		}

	}

}

/* ========================================================================
	Pagination Variants
========================================================================== */

// Fill-up
// ===========

@cycle_1_pager-item--padding           : 0 15px;
@cycle_1_pager-link--background        : transparent;
@cycle_1_pager-link--height            : 16px;
@cycle_1_pager-link--width             : 16px;
@cycle_1_pager-link--border-radius     : 50%;
@cycle_1_pager-link--box-shadow        : inset 0 0 0 2px #fff;
@cycle_1_pager-link--background_hover  : rgba(0, 0, 0, .2);
@cycle_1_pager-link--background_active : #fff;

.cycle-pager-container.fill-up {

	li {
		padding: @cycle_1_pager-item--padding;
		height: @cycle_1_pager-link--height;
		width: @cycle_1_pager-link--width;
		//

		a {
			box-shadow: @cycle_1_pager-link--box-shadow;
			border-radius: @cycle_1_pager-link--border-radius;
			//
			border: none;
			overflow: hidden;
			background: transparent;
			position: relative;
			width: 100%;
			height: 100%;
			transition: all .3s;

			&:after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: 0;
				width: 100%;
				border-radius: @cycle_1_pager-link--border-radius;
				background: @cycle_1_pager-link--background_active;
				transition: all .3s;
			}

			&:hover {
				background: @cycle_1_pager-link--background_hover;
				//
			}
		}
	}

	.cycle-pager-active a,
	.cycle-pager-active:hover a {
		background: transparent;

		&:after {
			height: 100%;
		}
	}
}

// Scale-up
// ===========

@cycle_2_pager-item--padding           : 0 15px;
@cycle_2_pager-link--background        : fade(#fff, 30%);
@cycle_2_pager-link--height            : 16px;
@cycle_2_pager-link--width             : 16px;
@cycle_2_pager-link--border-radius     : 50%;
@cycle_2_pager-link--box-shadow        : none;
@cycle_2_pager-link--border            : none;
@cycle_2_pager-link--background_hover  : #fff;
@cycle_2_pager-link--background_active : #fff;

.cycle-pager-container.scale-up {

	ul {
		display: block;
		position: relative;
		text-align: center;
		margin: 0;
		padding: 0;
		z-index: 150;

		li {
			list-style-type: none;
			margin: 0;
			width: auto;
			display: inline-block;
			padding: @cycle_2_pager-item--padding;
			text-align: left;

			a {
				display: block;
				overflow: hidden;
				border: @cycle_2_pager-link--border;
				box-shadow: @cycle_2_pager-link--box-shadow;
				border-radius: @cycle_2_pager-link--border-radius;
				background: @cycle_2_pager-link--background;
				height: @cycle_2_pager-link--height;
				width: @cycle_2_pager-link--width;
				//
				transition: all .3s;
			}
		}

		.cycle-pager-active a {
			background: @cycle_2_pager-link--background_active;
			//
			transform: scale(1.5);
			// .hook-cycle-pager-active;

		}

		a:hover {
			background: @cycle_2_pager-link--background_hover;
			// .hook-cycle-pager-hover;

		}

	}

}

// Stroke
// ===========

@cycle_3_pager-item--padding           	: 0 15px;
@cycle_3_pager-link--background        	: fade(#fff, 30%);
@cycle_3_pager-link--height            	: 16px;
@cycle_3_pager-link--width             	: 16px;
@cycle_3_pager-link--border-radius     	: 50%;
@cycle_3_pager-link--box-shadow        	: none;
@cycle_3_pager-link--border            	: none;
@cycle_3_pager-link--background_hover  	: #fff;
@cycle_3_pager-link--background_active 	: transparent;
@cycle_3_pager-link--border_active 		: 2px solid #fff;

.cycle-pager-container.stroke {

	ul {
		display: block;
		position: relative;
		text-align: center;
		margin: 0;
		padding: 0;
		z-index: 150;

		li {
			list-style-type: none;
			margin: 0;
			width: auto;
			display: inline-block;
			padding: @cycle_3_pager-item--padding;
			text-align: left;
			// .hook-cycle-pager-item;
			vertical-align: middle;

			a {
				display: block;
				overflow: hidden;
				border: @cycle_3_pager-link--border;
				box-shadow: @cycle_3_pager-link--box-shadow;
				border-radius: @cycle_3_pager-link--border-radius;
				background: @cycle_3_pager-link--background;
				height: @cycle_3_pager-link--height;
				width: @cycle_3_pager-link--width;
				// .hook-cycle-pager-link;
				transition: all .3s;

			}

			span {
				display: none;
				// .hook-cycle-pager-span;

			}

		}

		.cycle-pager-active a {
			background: @cycle_3_pager-link--background_active;
			// .hook-cycle-pager-active;
			//
			border: @cycle_3_pager-link--border_active;

		}

		//
		li:hover {

			a {
				background: @cycle_3_pager-link--background_hover;
				// .hook-cycle-pager-hover;
			}

			&.cycle-pager-active a {
				background: @cycle_3_pager-link--background_active;
			}

		}

	}

}

// Fill in
// ===========

@cycle_4_pager-item--padding           : 0 15px;
@cycle_4_pager-link--background        : transparent;
@cycle_4_pager-link--height            : 16px;
@cycle_4_pager-link--width             : 16px;
@cycle_4_pager-link--border-radius     : 50%;
@cycle_4_pager-link--box-shadow        : inset 0 0 0 2px #fff;
@cycle_4_pager-link--border            : none;
@cycle_4_pager-link--background_hover  : transparent;
@cycle_4_pager-link--background_active : transparent;
@cycle_4_pager-link--box-shadow_hover  : inset 0 0 0 8px #fff;

.cycle-pager-container.fill {

	ul {
		display: block;
		position: relative;
		text-align: center;
		margin: 0;
		padding: 0;
		z-index: 150;

		li {
			list-style-type: none;
			margin: 0;
			width: auto;
			display: inline-block;
			padding: @cycle_4_pager-item--padding;
			text-align: left;
			// .hook-cycle-pager-item;

			a {
				display: block;
				overflow: hidden;
				border: @cycle_4_pager-link--border;
				box-shadow: @cycle_4_pager-link--box-shadow;
				border-radius: @cycle_4_pager-link--border-radius;
				background: @cycle_4_pager-link--background;
				height: @cycle_4_pager-link--height;
				width: @cycle_4_pager-link--width;
				// .hook-cycle-pager-link;
				transition: all .3s;

			}

			span {
				display: none;
				// .hook-cycle-pager-span;

			}

		}

		.cycle-pager-active a {
			background: @cycle_4_pager-link--background_active;
			// .hook-cycle-pager-active;
			box-shadow: @cycle_4_pager-link--box-shadow_hover;

		}

		a:hover {
			background: @cycle_4_pager-link--background_hover;
			// .hook-cycle-pager-hover;
			box-shadow: @cycle_4_pager-link--box-shadow_hover;

		}

	}

}

// Circle Grow
// ===========

