// Small and up grid
@media (min-width: 768px) {
  .hook-responsive-sm;
}

// Medium and up grid
@media (min-width: 979px) {
  .hook-responsive-md;
}

// Large and up grid
@media (min-width: 1200px) {
  .hook-responsive-lg;
}

.hook-responsive-sm() {}
.hook-responsive-md() {}
.hook-responsive-lg() {}