/* ========================================================================
	Shapes Mixin
========================================================================== */ 

.responsive-shape(@color, @height, @position: top, @distance: 0, @color2: @color, @height2: @height, @position2: bottom, @distance2: 0) {
	
	.custom-html.shapes svg {
		position: absolute;
		@{position}: @distance;
		right: 0;
		left: 0;
		width: 100%;
		fill: @color;
		height: @height;

		+ svg {
			@{position2}: @distance2;
			fill: @color2;
			height: @height2;
		}
	}
}	

/* ========================================================================
	Core Shapes Styles
========================================================================== */

#shapes {
	.responsive-shape(@containers-color-alt, 70px, bottom, 0);

	> .custom-html svg {
		cursor: default;
	}

	.span4 {
		box-sizing: border-box;
		height: 100px;
		padding: 30px 5px;
	}

	svg {
		cursor: pointer;
		width: 100%;
		height: 100%;
		fill: @button__background-color;
		transition: all 0.25s;

		&:hover {
			fill: @button__background-color_hover;
		}
	}
}