/* ========================================================================
	Core Sidebar Styles
========================================================================== */

#sidebars {

	.shapes svg {
		fill: #f4726d;
	}

	.span4 {
		position: relative;
		overflow: hidden;
		height: 307px;
	}

	.container-p0j3y {
		display: block;
		position: absolute;
		top: 30px;
	}

	.container {
		padding: 0;
	}
}

/* ========================================================================
	Simple Variables
========================================================================== */

@sidebar--button__width 					: 90px;
@sidebar--button-icon__padding		 		: 20px 0 10px;
@sidebar--button-icon__font-size	 		: 15px;
@sidebar--button-title__padding		 		: 0 0 15px;
@sidebar--button-title__font-size	 		: 12px;
@sidebar--button-title__text-transform 		: uppercase;
@sidebar--button-title__font-weight	 		: normal;
@sidebar--button-title__font-family	 		: @vars__base--font-family;
@sidebar--button__color 					: @button__color;
@sidebar--button__background 				: @button__background-color;
@sidebar--button__color_hover				: @button__color_hover;
@sidebar--button__background_hover			: @button__background-color_hover;
@sidebar--social__count 					: 3;

/* ========================================================================
	Base Sidebar Styles - Copy this when building a new sidebar
========================================================================== */

.container-p0j3y.base {
	display: none;
	position: fixed;
	z-index: 2000;
	top: 30%;
	right: 0;
	margin: 0;

	.container {
		width: auto;
	}

	.row-fluid {
		margin: 0;
		width: @sidebar--button__width;
	}

	.button {
		display: block;
		padding: 0 0 1px;
		width: @sidebar--button__width;
		transition: all 0.25s;

		+ .button {
			padding: 0 0 1px;
		}

		&:hover {
			width: @sidebar--button__width + 20px;
			margin: 0 0 0 -20px;
		}

		.icon {
			display: block;
			padding: @sidebar--button-icon__padding;
			font-size: @sidebar--button-icon__font-size;

			&:before {
				display: block;
			}
		}

		.btn {
			display: block;
			padding: 0;
			text-transform: @sidebar--button-title__text-transform;
			font-weight: @sidebar--button-title__font-weight;
			font-family: @sidebar--button-title__font-family;
			font-size: @sidebar--button-title__font-size;
			color: @sidebar--button__color;
			background: @sidebar--button__background;

			&:hover {
				color: @sidebar--button__color_hover;
				background: @sidebar--button__background_hover;
			}
		}

		span {
			display: block;
			padding: @sidebar--button-title__padding;
		}
	}

	.social-icons {
		padding: 0;
		width: @sidebar--button__width * (@sidebar--social__count + 1);
		transition: all 0.25s;

		&:hover {
			transform: translateX(unit(((@sidebar--social__count) / (@sidebar--social__count + 1) * -100), %));
		}

		.title {
			cursor: pointer;
			vertical-align: top;
			text-align: center;
			margin: 0;
			width: @sidebar--button__width;
			color: @sidebar--button__color;
			background: @sidebar--button__background;

			span {
				display: block;
				padding: @sidebar--button-title__padding;
				text-transform: @sidebar--button-title__text-transform;
				font-weight: @sidebar--button-title__font-weight;
				font-family: @sidebar--button-title__font-family;
				font-size: @sidebar--button-title__font-size;			
			}

			&:before {
				.icon-styles;
				display: block;
				content: @icon__star;
				padding: @sidebar--button-icon__padding;
				font-size: @sidebar--button-icon__font-size;
			}
		}

		li {
			width: @sidebar--button__width;
			font-size: 0;

			a {
				display: block;
				box-shadow: none;
				padding: @sidebar--button-title__padding;
				text-transform: @sidebar--button-title__text-transform;
				font-family: @sidebar--button-title__font-family;
				font-size: @sidebar--button-title__font-size;
				color: #fff;
			}

			.icon {
				display: block;
				padding: @sidebar--button-icon__padding;
				font-size: @sidebar--button-icon__font-size;

				&:before {
					display: block;
				}
			}			
		}
	}
}

.hook-responsive-md() {

	.container-p0j3y {
		display: block;
	}
}

/* ========================================================================
	Simple Variables
========================================================================== */

@sidebar2--button__width 					: 55px;
@sidebar2--button__height 					: 55px;
@sidebar2--button-icon__padding		 		: 0;
@sidebar2--button-icon__font-size	 		: 15px;
@sidebar2--button-title__padding		 	: 0 20px;
@sidebar2--button-title__font-size	 		: 12px;
@sidebar2--button-title__text-transform 	: uppercase;
@sidebar2--button-title__font-weight	 	: normal;
@sidebar2--button-title__font-family	 	: @vars__base--font-family;
@sidebar2--button-span__width 				: 150px;
@sidebar2--button-span__padding				: 0 20px;
@sidebar2--button__color 					: @button__color;
@sidebar2--button__background 				: @button__background-color;
@sidebar2--button__color_hover				: @button__color_hover;
@sidebar2--button__background_hover			: @button__background-color_hover;
@sidebar2--social__count 					: 3;

/* ========================================================================
	Text slide from behind icon
========================================================================== */

.container-p0j3y.text-slide {
	display: none;
	position: fixed;
	z-index: 2000;
	top: 30%;
	right: 0;
	margin: 0;

	.container {
		width: auto;
	}

	.row-fluid {
		margin: 0;
		width: @sidebar2--button__width;

		&.is-visible {

			.button span {
				left: -@sidebar2--button-span__width;
			}
			
			.social-icons ul {
				left: -(@sidebar2--button__width * @sidebar2--social__count);
			}
		}
	}

	.button {
		display: block;
		padding: 0 0 1px;
		width: @sidebar2--button__width;
		transition: all 0.25s;

		+ .button {
			padding: 0 0 1px;
		}

		.icon {
			position: relative;
			display: block;
			z-index: 2;
			font-size: @sidebar2--button-icon__font-size;
			color: @sidebar2--button__color;
			background: @sidebar2--button__background;

			&:before {
				display: block;
				content: @icon__star;
				line-height: @sidebar2--button__height;
			}
		}

		.btn {
			position: relative;
			display: block;
			padding: 0;
			text-transform: @sidebar2--button-title__text-transform;
			font-weight: @sidebar2--button-title__font-weight;
			font-family: @sidebar2--button-title__font-family;
			font-size: @sidebar2--button-title__font-size;
			color: @sidebar2--button__color;
			background: @sidebar2--button__background;

			&:hover {
				color: @sidebar2--button__color;
				background: @sidebar2--button__background;

				span {
					left: -@sidebar2--button-span__width;
				}
			}
		}

		span {
			position: absolute;
			display: block;
			box-sizing: border-box;
			text-align: left;
			z-index: 1;
			top: 0;
			left: 0;
			line-height: @sidebar2--button__height;
			padding: @sidebar2--button-span__padding;
			width: @sidebar2--button-span__width;
			color: @sidebar2--button__color_hover;
			background: @sidebar2--button__background_hover;
			transition: all 0.25s;
		}
	}

	.social-icons {
		position: relative;
		padding: 0;

		&:hover ul {
			left: -(@sidebar2--button__width * @sidebar2--social__count);
		}

		.title {
			position: relative;
			cursor: pointer;
			vertical-align: top;
			text-align: center;
			z-index: 2;
			margin: 0;
			width: @sidebar2--button__width;
			color: @sidebar2--button__color;
			background: @sidebar2--button__background;

			span {
				display: none;
			}

			&:before {
				.icon-styles;
				display: block;
				content: @icon__star;
				line-height: @sidebar2--button__height;
				font-size: @sidebar2--button-icon__font-size;
			}
		}

		ul {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			width: @sidebar2--social__count * @sidebar2--button__width;
			transition: all 0.25s;
		}

		li {
			width: @sidebar2--button__width;
			font-size: 0;

			.icon {
				display: block;
				line-height: @sidebar2--button__height;
				padding: @sidebar2--button-icon__padding;
				font-size: @sidebar2--button-icon__font-size;

				&:before {
					display: block;
					line-height: @sidebar2--button__height;
				}
			}

			a {
				box-shadow: none;
			}			
		}
	}
}

.hook-responsive-md() {

	.container-p0j3y {
		display: block;
	}
}

/* ========================================================================
	Simple Variables
========================================================================== */

@sidebar3--btn__width 						: 180px;
@sidebar3--button__height 			 		: 55px;
@sidebar3--button-icon__font-size	 		: 15px;
@sidebar3--button-title__padding		 	: 0 15px;
@sidebar3--button-title__font-size	 		: 12px;
@sidebar3--button-title__text-transform 	: uppercase;
@sidebar3--button-title__font-weight	 	: normal;
@sidebar3--button-title__font-family	 	: @vars__base--font-family;
@sidebar3--button__color 					: @button__color;
@sidebar3--button__background 				: @button__background-color;
@sidebar3--button__color_hover				: @button__color_hover;
@sidebar3--button__background_hover			: @button__background-color_hover;
@sidebar3--social__count 					: 3;

/* ========================================================================
	Peeking icon with colour on hover
========================================================================== */

.container-p0j3y.peeking {
	display: none;
	position: fixed;
	z-index: 2000;
	top: 30%;
	right: 0;
	margin: 0;

	.container {
		width: auto;
	}

	.row-fluid {
		margin: 0;
	}

	.button {
		display: block;
		padding: 0 0 1px;
		transform: translateX(@sidebar3--btn__width - @sidebar3--button__height);
		transition: all 0.25s;

		+ .button {
			padding: 0 0 1px;
		}

		&:hover {
			transform: none;
		}

		.icon {
			display: inline-block;
			text-align: center;
			width: @sidebar3--button__height;
			font-size: @sidebar3--button-icon__font-size;

			&:before {
				display: block;
				line-height: @sidebar3--button__height;
			}
		}

		.btn {
			display: block;
			text-align: left;
			margin: 0 0 0 auto;
			padding: 0;
			width: @sidebar3--btn__width;
			text-transform: @sidebar3--button-title__text-transform;
			font-weight: @sidebar3--button-title__font-weight;
			font-family: @sidebar3--button-title__font-family;
			font-size: @sidebar3--button-title__font-size;
			color: @sidebar3--button__color;
			background: @sidebar3--button__background;

			&:hover {
				color: @sidebar3--button__color_hover;
				background: @sidebar3--button__background_hover;
			}
		}

		span {
			display: inline-block;
			padding: @sidebar3--button-title__padding;
		}
	}

	.social-icons {
		padding: 0;
		width: @sidebar3--button__height * (@sidebar--social__count + 1);
		transform: translateX(@sidebar3--button__height * @sidebar--social__count);
		transition: all 0.25s;

		.title {
			cursor: pointer;
			vertical-align: top;
			text-align: center;
			margin: 0;
			width: @sidebar3--button__height;
			color: @sidebar3--button__color;
			background: @sidebar3--button__background;

			span {
				display: none;		
			}

			&:before {
				.icon-styles;
				content: @icon__star;
				display: block;
				text-align: center;
				width: @sidebar3--button__height;
				line-height: @sidebar3--button__height;
				font-size: @sidebar3--button-icon__font-size;
			}
		}

		li {
			width: @sidebar3--button__height;
			font-size: 0;

			a {
				color: #fff;
			}

			.icon {
				display: block;
				font-size: @sidebar3--button-icon__font-size;

				&:before {
					display: block;
					line-height: @sidebar3--button__height;
				}
			}			
		}

		&:hover {
			transform: none;
		}
	}
}

/* ========================================================================
	Simple Variables
========================================================================== */

@sidebar4--btn__width 						: 180px;
@sidebar4--button__height 			 		: 55px;
@sidebar4--button-icon__font-size	 		: 15px;
@sidebar4--button-title__padding		 	: 0 15px;
@sidebar4--button-title__font-size	 		: 12px;
@sidebar4--button-title__text-transform 	: uppercase;
@sidebar4--button-title__font-weight	 	: normal;
@sidebar4--button-title__font-family	 	: @vars__base--font-family;
@sidebar4--button__color 					: @button__color;
@sidebar4--button__background 				: @button__background-color;
@sidebar4--button__color_hover				: @button__color_hover;
@sidebar4--button__background_hover			: @button__background-color_hover;
@sidebar4--social__count 					: 3;

/* ========================================================================
	Peeking icon with different hover colour
========================================================================== */

.container-p0j3y.icon-background {
	display: none;
	position: fixed;
	z-index: 2000;
	top: 30%;
	right: 0;
	margin: 0;

	.container {
		width: auto;
	}

	.row-fluid {
		margin: 0;
	}

	.button {
		display: block;
		padding: 0 0 1px;
		transform: translateX(@sidebar4--btn__width - @sidebar4--button__height);
		transition: all 0.25s;

		+ .button {
			padding: 0 0 1px;
		}

		&:hover {
			transform: none;
		}

		.icon {
			display: inline-block;
			text-align: center;
			width: @sidebar4--button__height;
			font-size: @sidebar4--button-icon__font-size;
			color: @sidebar4--button__color_hover;
			background: @sidebar4--button__background_hover;

			&:before {
				display: block;
				line-height: @sidebar4--button__height;
			}
		}

		.btn {
			display: block;
			text-align: left;
			margin: 0 0 0 auto;
			padding: 0;
			width: @sidebar4--btn__width;
			text-transform: @sidebar4--button-title__text-transform;
			font-weight: @sidebar4--button-title__font-weight;
			font-family: @sidebar4--button-title__font-family;
			font-size: @sidebar4--button-title__font-size;
			color: @sidebar4--button__color;
			background: @sidebar4--button__background;
		}

		span {
			display: inline-block;
			padding: @sidebar4--button-title__padding;
		}
	}

	.social-icons {
		padding: 0;
		width: @sidebar4--button__height * (@sidebar--social__count + 1);
		transform: translateX(@sidebar4--button__height * @sidebar--social__count);
		transition: all 0.25s;

		.title {
			cursor: pointer;
			vertical-align: top;
			text-align: center;
			margin: 0;
			width: @sidebar4--button__height;
			color: @sidebar4--button__color_hover;
			background: @sidebar4--button__background_hover;

			span {
				display: none;		
			}

			&:before {
				.icon-styles;
				content: @icon__star;
				display: block;
				text-align: center;
				width: @sidebar4--button__height;
				line-height: @sidebar4--button__height;
				font-size: @sidebar4--button-icon__font-size;
			}
		}

		li {
			width: @sidebar4--button__height;
			font-size: 0;

			a {
				color: #fff;
			}

			.icon {
				display: block;
				font-size: @sidebar4--button-icon__font-size;

				&:before {
					display: block;
					line-height: @sidebar4--button__height;
				}
			}			
		}

		&:hover {
			transform: none;
		}
	}
}