/* ========================================================================
    Simple Variables
========================================================================== */

@socialicons__icon-height 			: 40px;
@socialicons__facebook--background  : #0b5998;
@socialicons__twitter--background   : #4099ff;
@socialicons__google--background    : #DA4835;
@socialicons__youtube--background   : #e52d27;

/* ========================================================================
    Base Social Icon Styles
========================================================================== */

.social-icons {
	text-align: center;

	.inner {
		text-align: right;
	}

	.title {
		margin-right: .5em;
	}

	.title,
	ul {
		display: inline-block;
		vertical-align: middle;
	    font-size: 14px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	li {
		position: relative;
		text-align: center;
		padding: 0;
		float: left;
		margin: 0;

		+ li {
			margin-left: .3em;
		}

		> a {
			text-decoration: none;
			display: block;
			cursor: pointer;
			padding: .35em .5em;
			margin: 0;
			color: #fff;
			border-radius: 0;
		}

		&.facebook {
			.icon:before { content: @icon__facebook; }
			a { background: @socialicons__facebook--background; }
		}
		&.twitter {
			.icon:before { content: @icon__twitter; }
			a { background: @socialicons__twitter--background; }
		}
		&.googleplus {
			.icon:before { content: @icon__google-plus; }
			a { background: @socialicons__google--background; }
		}

		&.youtube {
			.icon:before { content: @icon__youtube; }
			a { background: @socialicons__youtube--background; }
		}
	}
}

/* ========================================================================
    Social Icon Variants
========================================================================== */

// Flipping icon cards
// ===========

.social-icons.flip {

	li {
		width: @socialicons__icon-height;
		height: @socialicons__icon-height;

		a {
			cursor: pointer;
			display: block;
			position: absolute;
			padding: 0;
			width: 100%;
			height: 100%;
			box-shadow: none;
			background-color: #333;
			transform: perspective(300px) rotateY(0deg);
			transition: transform 0.4s linear, background-color 0s linear 0.2s;
		}
	}
	

	.icon {
		transition: transform 0s linear 0.2s;

		&:before {
			line-height: @socialicons__icon-height;
		}
	}

	& li:hover {

		a {
			transform: perspective(300px) rotateY(180deg);
  			transition: transform 0.2s linear;
		}

		.icon {
    		transform: scale(-1, 1);
			transition: transform 0s linear 0.1s;
		}
	}
}

// Fill from bottom
// ===========

.social-icons.fill {

	&.social-icons li a {
		background: @button__background-color;
	}

	li {
		width: @socialicons__icon-height;

		&.facebook a:after    { background: @socialicons__facebook--background; }
		&.twitter a:after     { background: @socialicons__twitter--background; }
		&.googleplus a:after  { background: @socialicons__google--background; }
		&.youtube a:after     { background: @socialicons__youtube--background; }

		a {
			padding: 0;
			box-shadow: none;

			&:after {
				content: '';
				position: absolute;
				z-index: 0;
				height: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transition: all 0.25s;
			}
		}
	}


	.icon {

		&:before {
			position: relative;
			z-index: 1;
			line-height: @socialicons__icon-height;
		}
	}

	& li:hover {
		
		a:after {
			height: 100%;
		}
	}
}

// Fill from centre
// ===========

.social-icons.fill-centre {

	&.social-icons li a {
		background: @button__background-color;
	}

	li {
		overflow: hidden;
		width: @socialicons__icon-height;

		&.facebook a:after    { background: @socialicons__facebook--background; }
		&.twitter a:after     { background: @socialicons__twitter--background; }
		&.googleplus a:after  { background: @socialicons__google--background; }
		&.youtube a:after     { background: @socialicons__youtube--background; }

		a {
			padding: 0;
			box-shadow: none;

			&:after {
				content: '';
				position: absolute;
				transform: translate(-50%, -50%);
				border-radius: 100%;
				z-index: 0;
				top: 50%;
				left: 50%;
				height: 0;
				width: 0;
				transition: all 0.25s;
			}
		}
	}

	.icon {

		&:before {
			position: relative;
			z-index: 1;
			line-height: @socialicons__icon-height;
		}
	}

	& li:hover {
		
		a:after {
			height: 150%;
			width: 150%;
		}
	}
}

// Rotating border-radius
// ===========

.social-icons.spinning-border {

	&.social-icons li a {
		background: @button__background-color;
	}

	li {
		width: @socialicons__icon-height;

		&:hover {

			&.facebook a    { background: @socialicons__facebook--background; }
			&.twitter a     { background: @socialicons__twitter--background; }
			&.googleplus a  { background: @socialicons__google--background; }
			&.youtube a     { background: @socialicons__youtube--background; }	

			a {
				transform: rotate(360deg);
				border-radius: 100%;				
			}
		}

		a {
			box-shadow: none;
			padding: 0;
			transition: all 0.5s;
		}
	}


	.icon {

		&:before {
			line-height: @socialicons__icon-height;
		}
	}

	& li:hover {
		
		a:after {
			height: 150%;
			width: 150%;
		}
	}
}

// Fill from corner
// ===========

.social-icons.fill-corner {

	&.social-icons li a {
		background: @button__background-color;
	}

	li {
		overflow: hidden;
		width: @socialicons__icon-height;

		&.facebook a:after    { background: @socialicons__facebook--background; }
		&.twitter a:after     { background: @socialicons__twitter--background; }
		&.googleplus a:after  { background: @socialicons__google--background; }
		&.youtube a:after     { background: @socialicons__youtube--background; }

		a {
			padding: 0;
			box-shadow: none;

			&:after {
				content: '';
				position: absolute;
				transform: rotate(45deg);
				z-index: 0;
				width: 150%;
				height: 0;
				top: 100%;
				left: -100%;
				transition: all 0.25s;
			}
		}
	}

	.icon {

		&:before {
			position: relative;
			z-index: 1;
			line-height: @socialicons__icon-height;
		}
	}

	& li:hover {
		
		a:after {
			transform: translate(-50%, -50%) rotate(45deg);
			top: 50%;
			left: 50%;
			height: 150%;
		}
	}
}