/* ========================================================================
    Templates
========================================================================== */

// Buttons 
// ===========

#custom-mixins() {

    #button {

        .primary() {
        }

        .primary-hover() {
        }
    }
}

// Jumps 
// ===========


// Franchise Badges
// ===========

.hook-responsive-md() {

    .CONTAINER-NAME {		
		// Styles here
    }
}